[package]
name = "clickhouse"
version = "0.5.0"
description = "a typed client for ClickHouse"
keywords = ["clickhouse", "database", "driver", "tokio"]
authors = ["Paul Loyd <pavelko95@gmail.com>"]
repository = "https://github.com/loyd/clickhouse.rs"
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2018"

[[bench]]
name = "insert"
harness = false

[[bench]]
name = "select"
harness = false

[profile.release]
debug = true

[features]
default = ["lz4"]

lz4 = ["lz4-sys", "clickhouse-rs-cityhash-sys"]
gzip = ["async-compression", "async-compression/gzip"]
zlib = ["async-compression", "async-compression/zlib"]
brotli = ["async-compression", "async-compression/brotli"]

[dependencies]
thiserror = "1.0.16"
serde = "1.0.106"
bytes = "0.5.4"
tokio = { version = "0.2.20", features = ["rt-core", "stream"] }
hyper = "0.13.5"
url = "2.1.1"
reflection = "0.1.3"
reflection_derive = "0.1.1"
smallvec = "1.4.0"
futures = "0.3.5"
sha-1 = "0.9.1"
static_assertions = "1.1.0"
async-compression = { version = "0.3.6", features = ["stream"], optional = true }
take_mut = "0.2.2"
lz4-sys = { version = "1.9.2", optional = true }
clickhouse-rs-cityhash-sys = { version = "0.1.2", optional = true }

[dev-dependencies]
criterion = "0.3.2"
serde = { version = "1.0.106", features = ["derive"] }
tokio = { version = "0.2.20", features = ["full"] }
serde_bytes = "0.11.4"
