[package]
name = "clickhouse"
version = "0.11.6"
description = "A typed client for ClickHouse with killer features"
keywords = ["clickhouse", "database", "driver", "tokio", "hyper"]
authors = ["Paul Loyd <pavelko95@gmail.com>"]
repository = "https://github.com/loyd/clickhouse.rs"
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2018"
rust-version = "1.60"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[bench]]
name = "select_numbers"
harness = false

[[bench]]
name = "insert"
harness = false

[[bench]]
name = "select"
harness = false

[[example]]
name = "mock"
required-features = ["test-util"]

[profile.release]
debug = true

[features]
default = ["lz4", "tls"]

test-util = ["hyper/server"]
watch = ["dep:sha-1"]
lz4 = ["dep:lz4", "dep:clickhouse-rs-cityhash-sys"]
uuid = ["dep:uuid"]
time = ["dep:time"]
tls = ["dep:hyper-tls"]

# Temporary workaround for https://github.com/ClickHouse/ClickHouse/issues/37420
wa-37420 = []

[dependencies]
clickhouse-derive = { version = "0.1.1", path = "derive" }

thiserror = "1.0.16"
serde = "1.0.106"
bytes = "1"
tokio = { version = "1.0.1", features = ["rt", "macros"] }
hyper = { version = "0.14", features = ["client", "tcp", "http1", "stream"] }
hyper-tls = { version = "0.5.0", optional = true }
url = "2.1.1"
futures = "0.3.5"
static_assertions = "1.1"
sealed = "0.4"
sha-1 = { version = "0.10", optional = true }
serde_json = { version = "1.0.68" }
lz4 = { version = "1.23.3", optional = true }
clickhouse-rs-cityhash-sys = { version = "0.1.2", optional = true }
uuid = { version = "1", optional = true }
time = { version = "0.3", optional = true }
bstr = { version = "1.2", default-features = false }

[dev-dependencies]
criterion = "0.4.0"
serde = { version = "1.0.106", features = ["derive"] }
tokio = { version = "1.0.1", features = ["full", "test-util"] }
hyper = { version = "0.14", features = ["client", "tcp", "http1", "stream", "server"] }
serde_bytes = "0.11.4"
serde_repr = "0.1.7"
uuid = { version = "1", features = ["v4"] }
function_name = "0.3"
time = { version = "0.3.17", features = ["macros", "rand"] }
rand = "0.8.5"
