[package]
name = "clickhouse"
version = "0.8.1"
description = "a typed client for ClickHouse"
keywords = ["clickhouse", "database", "driver", "tokio"]
authors = ["Paul Loyd <pavelko95@gmail.com>"]
repository = "https://github.com/loyd/clickhouse.rs"
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2018"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[bench]]
name = "insert"
harness = false

[[bench]]
name = "select"
harness = false

[[example]]
name = "mock"
required-features = ["test-util"]

[profile.release]
debug = true

[features]
default = ["lz4"]

test-util = ["hyper/server"]

# Compression
lz4 = ["lz4-sys", "clickhouse-rs-cityhash-sys"]
gzip = ["async-compression", "async-compression/gzip", "tokio-util"]
zlib = ["async-compression", "async-compression/zlib", "tokio-util"]
brotli = ["async-compression", "async-compression/brotli", "tokio-util"]

[dependencies]
clickhouse-derive = { version = "0.1.1", path = "derive" }

thiserror = "1.0.16"
serde = "1.0.106"
bytes = "1"
tokio = { version = "1.0.1", features = ["rt", "macros"] }
hyper = { version = "0.14", features = ["client", "tcp", "http1", "stream"] }
url = "2.1.1"
smallvec = "1.4.0"
futures = "0.3.5"
sha-1 = "0.9.1"
static_assertions = "1.1.0"
async-compression = { version = "0.3.6", features = ["tokio"], optional = true }
tokio-util = { version = "0.6.0", default-features = false, features = ["codec", "io"], optional = true }
take_mut = "0.2.2"
lz4-sys = { version = "1.9.2", optional = true }
clickhouse-rs-cityhash-sys = { version = "0.1.2", optional = true }

[dev-dependencies]
criterion = "0.3.2"
serde = { version = "1.0.106", features = ["derive"] }
tokio = { version = "1.0.1", features = ["full", "test-util"] }
hyper = { version = "0.14", features = ["client", "tcp", "http1", "stream", "server"] }
serde_bytes = "0.11.4"
serde_repr = "0.1.7"
